body{

  background-image: url("fondo.jpg");
  background-size: cover;

}
h1{
  text-align: center;
  color: #CBA1E4;
}
h2{
  text-align: right;
}
#loto{
  text-align: center;

  margin: 5px;
  border: 10px solid pink;
  width: 400px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}

.imagen{
  width: 200px;
  height: 200px;
}
#textoloto{
  text-align: left;
  display: inline;

}

#orq{
  text-align: center;
  margin: 5px;
  border: 10px solid violet;
  width: 400px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}

#textoorq{
  text-align: left;
}
.link{
  width: 50px;
}
#flores{
  margin: 5px;
  border: 2px solid black;
  display: inline-block;;

}
aside{
  margin: 5px;
  border: 10px solid black;
  display: inline-block;
height: 1210px;
vertical-align: top;
text-align: justify;
}

#rosa{
  text-align: center;
  margin: 5px;
  border: 10px solid violet;
  width: 400px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}
#textorosa{
  text-align: left;
}

#girasol{
  text-align: center;

  margin: 5px;
  border: 10px solid pink;
  width: 400px;
  height: 500px;
  display: inline-block;
  vertical-align: top;
}
#textogirasol{
  text-align: left;
}

#grande{
  margin: 5px;
display:inline-block;
border: 10px solid black;
width: 70%;
}

#parrafo{
  display: inline-block;
}
li {
  display: inline-block;
  margin-left: 100px;
}
